* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared styles */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  background: #469165;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  background: #3a7d57;
}

/* Main styles */

/* Hearder section */
header {
  background: #fff;
  /* margin-bottom: 65px; */
}

/* Nav section */
.nav {
  display: flex;
  /* padding: 20px; */
  justify-content: space-between;
  width: 80%;
  max-width: 1240px;
  margin: 0 auto;
  align-items: center;
}

.nav .nav-logo {
  padding: 10px;
}

.nav .nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.nav .nav-menu a {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

/* Hero section */

.hero {
  background: url("../assets/hero-bg.png") no-repeat;
  background-size: cover;
  padding: 100px;
  text-align: center;
}

.hero .btn-hero {
  border-radius: 30px;
  background: #fff;
  color: #469165;
  padding: 10px 20px;
  margin-bottom: 25px;
}

.hero .hero-heading {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}

.hero .hero-heading span {
  color: #30b868;
}

.hero .hero-sub-heading {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 25px;
}

.button {
  margin-bottom: 40px;
}

.button .btn-light {
  background: transparent;
  border: 1px solid #fff;
  padding: 15px 35px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.button .btn-light:hover {
  background: #3a7d57;
}

.hero .fa-solid {
  margin-right: 5px;
}

/* Pain-points section */
.pain-points {
  background: #fff;
  margin: 80px auto;
}

.pain-points .pain-points-heading {
  text-align: center;
}

.pain-points .pain-points-heading h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 20px;
}

.pain-points .pain-points-sub-heading {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

.pain-points .pain-points-cards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 55px;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.pain-points-cards-info .img {
  background: #f95555;
  border-radius: 50px;
  border: none;
  margin-bottom: 10px;
}

.pain-points-cards-info .card-info-heading {
  font-size: 20px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 10px;
}

.pain-points-cards-info .card-info-sub-heading {
  color: #627382;
  line-height: 20px;
  font-size: 14px;
}

/* Solution section */

.solution {
  background: #fff;
  width: 80%;
  max-width: 1240px;
  /* padding: 50px; */
  margin: 80px auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.knowledge-img {
  width: 500px;
}

.solution .features span {
  font-size: 16px;
  color: #3a7d57;
}

.solution .features h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin: 20px 0;
}

.solution .features p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 20px;
}

.solution .features-list {
  list-style: none;
}
.solution .features-list li {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.features-list .fa-regular {
  background: #3a7d57;
  color: white;
  border-radius: 50px;
  margin-right: 10px;
}

/* Ready to think action */

.ready-to-think {
  padding: 80px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.ready-to-think h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
}

.ready-to-think p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin: 20px 0;
}

/* Footer section */

footer {
  width: 100%;
  padding: 80px;
  background: #001931;
}

footer .footer-bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 30px;
}

footer .footer-social {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}
footer .footer-social .social-text {
  top: -35px;
  right: 10px;
  color: #fafafa;
  position: absolute;
}

footer .footer-social a {
  text-decoration: none;
  padding: 5px;
  color: #000;
  background: #fff;
  border-radius: 50px;
}

footer .footer-copyright {
  font-size: 16px;
  color: #fafafa;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}
